.avatar-badge {
	position: absolute;
	bottom: 2px;
	right: 2px;
	z-index: 1;
	background-color: #4dccb9; /* Default badge background color */
	color: #fff; /* Default badge text color */
	border-radius: 50%; /* Make it circular */
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75em; /* Adjust font size */
}
