/* LinkButton.css */
.link-button {
	color: #007bff;
	text-decoration: none;
	font-weight: bold;
	padding: 2px 8px;
	border-radius: 10px;
}

.link-button:hover {
	text-decoration: underline;
}

.solid {
	background-color: #007bff;
	color: #fff;
	border: none;
}

.solid:hover {
	background-color: #0056b3;
}

.outline {
	background-color: transparent;
	color: #007bff;
	border: 2px solid #007bff;
}

.outline:hover {
	background-color: #007bff;
	color: #fff;
}

.ghost {
	background-color: transparent;
	color: #007bff;
	border: none;
}

.ghost:hover {
	background-color: #b3b2b2;
}

/* Sizes */
.xs {
	font-size: 0.8em;
}

.sm {
	font-size: 0.9em;
	padding: 6px 12px;
}

.md {
	font-size: 1em;
	padding: 8px 16px;
}

.lg {
	font-size: 1.2em;
	padding: 12px 24px;
}
